<div class="card m-3" style="border:none;">
  <div class="card-header">
    Facility
  </div>
  <div class="card-body">
    <h5 class="card-title">{{facility.name}}</h5>
    <p class="card-text">{{facility.description}}</p>
    <div>
      <a class="btn btn-primary m-1" routerLink="/maintenanceHistory" [queryParams]="{facilityId: facility.id}">View
        Maintenance History</a>
    </div>
    <div>
      <a class="btn btn-primary m-1" routerLink="/editFacility" [queryParams]="{facilityId: facility.id}">Edit</a>
    </div>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>