<div class="container">
    <nz-tabset>
        <nz-tab [nzTitle]="titleTemplate">
            <ng-template #titleTemplate>
                <div class="text-light">
                    <i nz-icon nzType="check-circle" nzTheme="outline"></i>
                    <strong>Active</strong>
                </div>
            </ng-template>
            <app-announcement-card *ngFor="let announcement of activeAnnouncementList" [announcement]="announcement">
            </app-announcement-card>
        </nz-tab>
        <nz-tab [nzTitle]="titleTemplate2">
            <ng-template #titleTemplate2>
                <div class="text-light">
                    <i nz-icon nzType="stop" nzTheme="outline"></i>
                    <strong>Inactive</strong>
                </div>
            </ng-template>
            <app-announcement-card *ngFor="let announcement of inactiveAnnouncementList" [announcement]="announcement">
            </app-announcement-card>
        </nz-tab>
    </nz-tabset>
</div>