<div class="container mt-5 w-75">
    <h2 class="text-light">Create Announcement</h2>
    <div class="card" style="padding:20px;">
        <form nz-form #announcementForm="ngForm" [formGroup]="validateForm" (ngSubmit)="submitForm(announcementForm)">
            <h5>Title</h5>
            <nz-form-item>
                <nz-form-control nzErrorTip="This is a required field">
                    <nz-input-group>
                        <input type="text" formControlName="title" placeholder="Enter announcement title"
                            class="form-control">

                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>


            <h5>Description</h5>

            <nz-form-item>
                <nz-form-control nzErrorTip="This is a required field">
                    <nz-input-group>
                        <textarea maxlength="255" type="text" formControlName="description" placeholder="Enter announcement description"
                            class="form-control"></textarea>

                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>


            <input type="submit" value="Create" class="btn btn-outline-primary form-control rounded-0">
        </form>
    </div>
</div>