/* You can add global styles to this file, and also import other style files */
html,

body {

height: 100%;

position: relative;

}

app-root {

    min-height: 100%;
    
    display: block;
    
    position: relative;
    
    padding-bottom: 56px; 

    background-image: url(../src/assets/images/condobackground.jpg);
    
    }